html{
    position: relative;
}

body{background-image: url(img/copy.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 100px;
    background-size: cover;
    margin-top: 30px;
    
}
.navbar{
    background-image: url(img/copy.jpg);
}
#w{
    color: white;
}
h1{
    color: white;
    font-family: sans-serif;
}
.jumbotron p{
    color: white;
}
.jumbotron img{
    width: 200px;
    height: 200px;
    border: 5px solid #666;
}
.jumbotron{
    background-image: url(img/b.jpg);

}
hr{
    width: 250px;
    border-top: 2px solid white
}
section{
    min-height: 600px;
    color: white;
    font-family: sans-serif;
}
.gallery{
    
    color: white;
    padding-top: 30px;
}
.gallery img{
    width: 200px;
    height: 200px;
    border: 5px solid #666;
}
.about p{
    font-size: 20px; 
}
.contact{
    min-height: 600px;
    padding-top: 30px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: url(img/copy.jpg);
    color: white;
    padding-top: 30px;

}
footer p{
    font-size: 0.9em;
    
}
p{
    color: white;
}
li{
    text-decoration: none;
}